@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import "tailwindcss";

@theme {
  --font-pinyon: "Pinyon Script", cursive;
  --font-explora: "Explora Regular", serif;
  --animate-fade-in-delay-1: fade-in 1.0s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 3s ease-out 1.5s forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

:root {
  background-color: #171717ff;
}
